.header{
    display: flex;
    justify-content: center;
    font-size: clamp(12px,10vw,36px);
    color: maroon;
    font-weight: bolder;
  }
.container{
    display: grid;
    grid-template-columns: 40vw 40vw;
    justify-content: center;
    grid-template-rows: 50% auto auto auto;
    gap: 60px;
    padding-top: 10px;
    font-size: small;
  }

  .container .left,.container .right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .container .left .lcard,.container .right .lcard{
    font-size:clamp(1rem,4vw,1.3rem);
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 10vh;
    min-height: 7rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.2);
  }

  .container .left .lcard:hover,.container .right .lcard:hover{
     transform:translate(0.5rem,-0.5rem);
     box-shadow:-5px 5px  10px slategray ;
  }
  

  @media screen and (max-width:768px) {
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
  }