.header{
    text-align: center;
    font-family: "Anek Tamil", sans-serif;
    font-weight: 900;
    font-style: normal;
        font-variation-settings: "wdth" 97;
        color: blue;
        font-size: 50px;
}
.nit{
    height: 130vh;
    .pics{
        display: flex;
        flex-direction:row;
        gap: 80px;
        padding-left: 100px;
        padding-right: 100px;
        .img1{
            box-shadow: 0px 5px 9px rgb(0, 0, 0);
            img{
                width: 4000px;
                height: 400px;
            }
            
        }
        .img2{
            box-shadow: 0px 5px 9px rgb(0, 0, 0);
            img{
                width: 4000px;
                height: 400px;
            }
            
            
        }
    }
    .header {
        text-align: center;
        font-family: "Anek Tamil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings: "wdth" 97;
        color: blue;
        font-size: 40px;
    
        h2 span {
            color: orange;
        }
    }
    .aboutUsInfo {
        font-family: "Anek Tamil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings: "wdth" 97;
        font-size: 20px;
        color: rgb(53, 49, 49);
        padding-left: 1%;
    }
    
    .aboutUsInfo p span {
        font-weight: bold;
        font-size: 1.4rem;
    }
    
    .AboutUsPara {
        font-family: "Anek Tamil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: justify;
        font-variation-settings: "wdth" 97;
        font-size: 1.3rem;
        color: rgb(53, 49, 49);
        padding-left: 1%;
        padding:1rem 5rem 5rem 5rem;
        text-justify: inter-word;
    }
}
.departm{
    background-color: rgba(225, 225, 217, 0.448);
    .aboutUsInfo{
        display: flex;
        flex-direction: row;
        .pics{
            display: flex;
            align-items: center;
            height:370px;
            padding-left: 80px;
        
           
            
            img{
                height: 330px;
                width: 4000px;
                box-shadow: 0px 5px 9px rgb(0, 0, 0);
                
            }
            
        }
    }
    
    .header {
        text-align: center;
        font-family: "Anek Tamil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings: "wdth" 97;
        color: blue;
        font-size: 40px;
    
        h2 span {
            color: orange;
        }
    }
    .aboutUsInfo {
        font-family: "Anek Tamil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings: "wdth" 97;
        font-size: 20px;
        color: rgb(53, 49, 49);
        padding-left: 1%;
    }
    
    .aboutUsInfo p span {
        font-weight: bold;
        font-size: 1.4rem;
    }
    
    .AboutUsPara {
        font-family: "Anek Tamil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: justify;
        font-variation-settings: "wdth" 97;
        font-size: 1.3rem;
        color: rgb(53, 49, 49);
        padding-left: 1%;
        padding:1rem 5rem 5rem 5rem;
        text-justify: inter-word;
    }
}
.silchar{
    .aboutUsInfo{
        display: flex;
        flex-direction: row;
        .pics{
            display: flex;
            align-items: center;
            height:370px;
            padding-right: 80px;
        
           
            
            img{
                height: 330px;
                width: 4000px;
                box-shadow: 0px 5px 9px rgb(0, 0, 0);
                
            }
            
        }
    }
    
    .header {
        text-align: center;
        font-family: "Anek Tamil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings: "wdth" 97;
        color: blue;
        font-size: 40px;
    
        h2 span {
            color: orange;
        }
    }
    .aboutUsInfo {
        font-family: "Anek Tamil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings: "wdth" 97;
        font-size: 20px;
        color: rgb(53, 49, 49);
        padding-left: 1%;
    }
    
    .aboutUsInfo p span {
        font-weight: bold;
        font-size: 1.4rem;
    }
    
    .AboutUsPara {
        font-family: "Anek Tamil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        text-align: justify;
        font-variation-settings: "wdth" 97;
        font-size: 1.3rem;
        color: rgb(53, 49, 49);
        padding-left: 1%;
        padding:1rem 5rem 5rem 5rem;
        text-justify: inter-word;
    }

}
.tour{
    background-color: rgba(225, 225, 217, 0.448);
    .header {
        text-align: center;
        font-family: "Anek Tamil", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings: "wdth" 97;
        color: blue;
        font-size: 40px;
    
        h2 span {
            color: orange;
        }
    }
    .pics{
        display: grid;
        justify-content: center;
        grid-template-columns: 450px 450px 450px;
        column-gap: 30px;
        row-gap: 50px;
       .card{ img{
            height: 330px;
            width: 3000px;
            box-shadow: 0px 5px 9px rgb(0, 0, 0);
        }
        .info{
            padding-top: 10px;
            text-align: center;
            font-weight: 800;
            h3{
                font-size: 23px;
            }
        }
    }
    }
}