.header-links{
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6rem;
  padding-right: 10rem;
  background-color: #d6ecf5;
  border-bottom: 0.05rem solid #069;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 600;
}
.header-links-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #069;
  a:visited {
      color: #069;
  }
  a:link {
      color: #069;
  }
}

#header-xplore{
  font-style: italic;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6rem;
  padding-right: 10rem;
}

.pathway-extreme-header-info {
  color: blue;
  font-family: "Pathway Extreme", sans-serif;
  font-optical-sizing: auto;
  font-weight: 950;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  line-height: 1.1rem;
  margin-right: 0;
}

.header-location{
  display: flex;
  height: fit-content;
  padding-left: 6rem;
  align-items: center;
}

.header-counter{
  width:15em;
}

.header-location img{
  height: 2rem;
}

.pathway-extreme-header-location-data {
  color: blue;
  font-family: "Pathway Extreme", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  line-height: 1.1rem;
  padding-left: 0.8rem;
  justify-content: center;
}

.pathway-extreme-header-location-dates {
  color: blue;
  font-family: "Pathway Extreme", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  line-height: 1.1rem;
  padding-left: 0.8rem;
  justify-content: center;
}

.header-location-data{
  padding-right: 4rem;
  
}

.nits-logo{
  object-fit: contain;
  padding-top: 1rem;
  img{
      width: 4rem;
      height: 4rem;
  }
}
.location-ieee-silchar-subsection-logo{
  padding: 1rem 0 0 3rem;
  justify-content: center;
  img{
  width: 7rem;
  height: 4rem;
}
}
.location-ieee-kolkata-section-logo{
  padding: 1.5rem 0 0.5rem 3rem;
  justify-content: center;
  img{
  width: 6rem;
  height: 6rem;
}
}

.location-ias-logo{
  padding: 1rem 0 0 3rem;
  justify-content: center;
  img{
  width: 7rem;
  height: 4rem;
}
}
.location-ieee-logo{
  padding: 1rem 0 0 3rem;
  justify-content: center;
  img{
  width: 6rem;
  height: 4rem;
}
}

.header-logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}