.header_links{
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6rem;
  padding-right: 10rem;
  background-color: #d6ecf5;
  border-bottom: 0.05rem solid #069;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 600;
}

.header_links_section{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #069;
  a:visited {
      color: #069;
  }
  a:link {
      color: #069;
  }
}

#header_xplore{
  font-style: italic;
}

.header_content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding-left: 6rem;

  padding-right: 2rem;
  background-color: white;

}
.header_content .nits_logo{
  width: 300px;
}
.header_content .main_conference_logo{
  width: 300px;
}

.pathway_extreme_header_info {
  color: blue;
  font-family: "Pathway Extreme", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  line-height: 2.2rem;
  margin-right: 0;
  font-size: 2rem;
}

.header_location{
  display: flex;
  gap: 80px;
  height: fit-content;
  padding-left: 6rem;
  padding-top: 0;
  align-items: center;
  background-color: #ffffff;
  padding-bottom: 0rem;
}

.header_counter{
  width: 2rem;
}

.header_location img{
  height: 2rem;
}

.pathway_extreme_header_location_data {
  color: blue;
  font-family: "Pathway Extreme", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  line-height: 1.8rem;
  padding-left: 0.8rem;
  justify-content: center;
}

.pathway_extreme_header_location_dates {
  color: blue;
  font-family: "Pathway Extreme", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  line-height: 1.8rem;
  padding-left: 0.8rem;
  justify-content: center;
  font-size: 1rem;
}

.header_location_data{
  padding-right: 4rem;
}
.location{
  display: flex;
  flex-direction: row;
}

.nits_logo{
  padding-left: 0.7rem;
  object-fit: contain;
  img{
      width: 6rem;
      height: 6rem;
  }
}

.main_conference_logo{
  padding-left: 0.8rem;
}
.location_ieee_silchar_subsection_logo{
  padding: 1rem 0 0 3rem;
  justify-content: center;
  img{
  width: 7rem;
  height: 4rem;
}
}
.location_ieee_kolkata_section_logo{
  padding: 1.5rem 0 0.5rem 3rem;
  justify-content: center;
  img{
  width: 6rem;
  height: 6rem;
}
}

.location_ias_logo{
  padding: 1rem 0 0 3rem;
  justify-content: center;
  img{
  width: 7rem;
  height: 4rem;
}
}
.location_ieee_logo{
  padding: 1rem 0 0 3rem;
  justify-content: center;
  img{
  width: 6rem;
  height: 4rem;
}
}

.header_logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: 980px) {
  .header_content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header_location{
    padding-left: 2rem;
  }
}

@media(max-width: 800px) {
  .header_links{
    padding-left: 1.5rem;
    padding-right: 3.3rem;
  }
  .header_location{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .pathway_extreme_header_info {
  color: blue;
  font-family: "Pathway Extreme", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  line-height: 2.2rem;
  margin-right: 0;
  font-size: 1.4rem;
}
.pathway_extreme_header_info {
  color: blue;
  font-family: "Pathway Extreme", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  line-height: 2rem;
  margin-right: 0;
  font-size: 1rem;
}
}

@media(max-width: 400px) {
  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
  }
  .header_links{
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-size: 0.5rem;
  }
  .header_location{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .pathway_extreme_header_info {
  color: blue;
  font-family: "Pathway Extreme", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-variation-settings: "wdth" 75;
  line-height: 2rem;
  margin-right: 0;
  font-size: 1rem;
}
.header_logos{
  display: none;
}
.header_location_data{
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.nits_logo{
  padding-left: 0.5rem;
  object-fit: contain;
  img{
      width: 6rem;
      height: 6rem;
  }
}

.main_conference_logo{
  padding-left: 0.8rem;
}
}

@media(max-width: 600px){
  .header_links{
    padding-left: 0.4rem;
    padding-right: 0.8rem;
    font-size: 0.8rem;
  }
  .header_location{
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
  .location_ieee_logo{
    display:none; 
  }
  }